* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #f3f3f3;
  height: 100vh;
}
.element-with-overflow::-webkit-scrollbar {
  cursor: pointer;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --color-transfer: linear-gradient(to top left, #ffb003, #ffcb03);
  --color-loan: linear-gradient(to top left, #39b385, #9be15d);
  --color-close: linear-gradient(to top left, #e52a5a, #ff585f);
  --shadow-effect: 0 0 10px #e3e3e3;
  --main-black: #4e4e4e;
  --main-section: 20px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.internal_app {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 20px;

  position: relative;
  height: 120px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 891px) {
  header .container {
    justify-content: center;
  }

  .logo {
    margin-right: 20px;
    order: -1;
  }
  .login {
    position: absolute;
    bottom: 0;
  }
}
.logo {
  width: 50px;
  max-width: 100%;
}

.login form {
  display: flex;
  align-items: center;
}
.user__name,
.user__password,
.input-login,
.password-login,
.user-login {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  padding: 8px 30px;
  height: 37px;
  font-size: 17px;
  border: 1px solid #fff;
}

.input-login {
  border: 1px solid #fff;
  width: 120px;
  transition: all 0.3s;
  color: #474747;
}

.input-login::placeholder {
  font-size: 17px;
  color: #afafaf;
}
.input-login:focus {
  border: 1px solid #ccc;
  box-shadow: var(--shadow-effect);
}

.input-login.input-login-password {
  margin: 0px 20px 0px 10px;
}
.fa-arrow-right {
  font-size: 20px;
  font-weight: 300;
  border: none;
  background-color: transparent;
  transition: transform 0.3s linear;
  color: var(--main-black);
}
.btn--login {
  border: none;
}
.fa-arrow-right:active,
.fa-arrow-right-long:active {
  transform: translateX(5px);
}

.text_money {
  font-size: 16px;
  color: var(--main-black);
}

/* Medium */
@media (min-width: 891px) {
  .internal_app {
    width: 850px;
  }
}
/* Large */
@media (min-width: 1100px) {
  .internal_app {
    width: 1050px;
  }
}
main {
  position: relative;
}
main .internal-fees {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balance h2,
.balance p,
.moeny-balance {
  color: var(--main-black);
}

.balance p {
  letter-spacing: 1.3;
  margin-left: 3px;
  font-size: 13px;
}
.balance h2 {
  font-size: 22px;
  font-weight: 500;
}
.moeny-balance {
  font-size: 45px;
}

main .internal-movments {
  height: calc(100% - 160px);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 15px;
}

.functional-app {
  grid-column: 1 / span 4;
  background-color: white;
  box-shadow: var(--shadow-effect);
  overflow: scroll;
  border-radius: 10px 0px 0px 0px;
  border: 2px solid #eee;
  max-height: 508.4px;
}
.functional-app .movments {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f3f3f3;
}
.movments-DEPOSIT,
.movments-WITHDRAWAL {
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.movments-DEPOSIT {
  background: var(--color-loan);
}
.movments-WITHDRAWAL {
  background: var(--color-close);
}
.movments .transfer-money-movment {
  font-size: 18px;
  font-weight: 300;
  color: var(--main-black);
}
.Current-movments {
  display: flex;
  align-items: center;
}
.slider {
  cursor: pointer;
}
.dateof-movment {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  color: var(--main-black);
  margin-left: 10px;
}
.transfer {
  border-radius: 10px;
  flex: 1;
  padding: 30px 40px;
  box-shadow: var(--shadow-effect);
}
.Close-account {
  background: var(--color-close);
}
.Request-loan {
  background: var(--color-loan);
}
.Transfer-money {
  background: var(--color-transfer);
}
.btns {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 30px;
}

.fa-arrow-right-long {
  margin-top: 3px;
  font-size: 16px;
  transition: transform 0.3s linear;
}

.btns:active i {
  transition: 0.3s;
  transform: translateX(5px);
}
.all {
  display: flex;
  flex-direction: column;
}

.Transfer-money form,
.Close-account form {
  display: grid;
  gap: 0.4rem 1rem;
  grid-template-columns: 2.5fr 2.5fr 1fr;
}
.Request-loan form {
  display: grid;
  gap: 0.4rem 1rem;
  grid-template-columns: 2.5fr 1fr 2.5fr;
  grid-row: 2;
}

.transfer h2 {
  color: #474747;
  font-size: 20px;
  margin-bottom: var(--main-section);
}

.inp {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  width: 100%;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #474747;
  transition: background-color 0.2s linear;
}
.inp:focus {
  background-color: rgba(255, 255, 255, 0.6);
}
.labol {
  display: flex;
  justify-content: center;
  grid-row: 2;
  font-size: 12px;
  color: #474747;
}

.user-transfer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 5 / span 4;
}
.login-text {
  color: var(--main-black);
  margin-right: 10px;
}

.internal-money {
  position: relative;
  height: 79px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collect_label {
  display: flex;
  align-items: center;
}
.collect_label div {
  display: flex;
  align-items: center;
}
.collect_label div:not(:first-child) {
  padding-left: 20px;
}

.collect_label div h3 {
  color: #39b385;
  font-size: 22px;
  font-weight: 500;
  margin-left: 5px;
}
.collect_label .summary__value--out {
  color: #e52a5a !important;
}

.time span {
  font-size: 14px;
  font-weight: 500;
}
.btn--sort {
  border: none;
  cursor: pointer;
  transition: color 0.3s linear;
  color: #484848;
}
.btn--sort i {
  transition: transform 0.3s linear;
}
.btn--sort:hover {
  color: black;
}
.btn--sort:active i {
  transform: translateY(5px);
}

@media (max-width: 600px) {
  .internal-money {
    align-items: flex-start;
    justify-content: center;
  }
  .collect_label div:not(:first-child) {
    padding-left: 0px;
  }
  .collect_label {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-evenly;
    margin-top: 5px;
  }
  .btn--sort {
    position: absolute;
    bottom: -3px;
    left: 8px;
    margin-bottom: var(--main-section);
  }
  .time {
    position: absolute;
    bottom: -8px;
    right: 8px;
    margin-bottom: var(--main-section);
  }
}

@media (max-width: 891px) {
  main {
    margin-top: var(--main-section);
  }

  .functional-app {
    grid-column: 1 / span 7;

    height: 250px;
  }
  .user-transfer {
    flex-direction: row;
    grid-column: 1 / span 7;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

/*
js changes
*/

.opac__open {
  opacity: 1;
  transition: opacity 0.5s linear;
}
.opac__close {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  transition: backdrop-filter 0.7s linear, background-color 0.7s linear;
  z-index: 5;
}
.overlayoff {
  background-color: #f3f3f3;
  backdrop-filter: blur(0px);
  z-index: -1;
}

.hidden {
  display: none;
}
.create__account {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 8;
}

.account_User {
  width: 350px;
  height: 320px;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: scale(0);
  transition: transform 0.7s ease-in-out;
}
.account_User form {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.sclad {
  transition-delay: 0.3s;
  transform: scale(1);
}
.scladoff {
  transform: scale(0);
}

.account_User img {
  width: 70px;
}
.account_User input {
  border: 1px solid #ccc;
  box-shadow: var(--shadow-effect);
}
select {
  appearance: none;
  background: url("arrow.png") no-repeat right; /* Use your custom arrow image */
  background-size: 20px; /* Adjust size as needed */
  padding-right: 10px; /* Ensure space for the arrow */
}

.user-login {
  background-color: #e7e7e7;
}

.password-login {
  position: relative;
  box-shadow: var(--shadow-effect);
  border: 1px solid #ccc;
  color: var(--main-black);
}

.account_User p {
  margin: 10px 0px;
  font-size: 15px;
  color: var(--main-black);
  font-weight: 500;
}

.submit {
  grid-column: 1 / span 2;
  background: var(--color-close);
  padding: 15px 0px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  transition: opacity 0.3s linear;
  opacity: 0.9;
}
.submit:hover {
  opacity: 1;
}

.fa-lock,
.fa-user {
  font-size: 13px;
  z-index: 3;
  top: 50%;
  position: absolute;
  left: 11px;
  transform: translateY(-50%);
}

.fa-caret-down {
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.gg {
  position: relative;
}

.ss {
  width: 135px;
}

/* <div class="masege_USER">
<div class="inside_massege"> */

.masege_USER {
  position: absolute;
  top: 16px;
  right: 0px;
  z-index: 100;
  min-width: 336px;
  padding: 16px 32px;
  backdrop-filter: blur(10px);
  border-radius: 4px;
}
.masege_USER.erorr {
  background-color: #ffdb9b;
  border-left: 6.4px solid #ffa502;
}
.masege_USER.accept {
  background-color: #c6ff8e;
  border-left: 6.4px solid #4caf50;
}
.addmassege {
  animation: moving 1s ease-in-out forwards;
}
.removemassege {
  animation: hide_moving 1s ease-in-out forwards;
}

.fa-circle-exclamation {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}
.erorr .fa-circle-exclamation {
  color: #ce8500;
}
.accept .fa-circle-exclamation {
  color: #4caf50;
}

.masege_USER p {
  padding: 0 16px;
  font-size: 14.4px;
  line-height: 1.6;
  font-weight: 500;
}
.masege_USER.erorr p {
  color: #ce8500;
}
.masege_USER.accept p {
  color: #4caf50;
}

.cente_x {
  border-radius: 0px 4px 4px 0px;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding: 17.5px 14.4px;
  cursor: pointer;
}
.erorr .cente_x {
  background-color: #ffd080;
}
.accept .cente_x {
  background-color: #b7fb73;
}
.fa-xmark {
  font-size: 17.6px;
}
.erorr .fa-xmark {
  color: #ce8500;
}
.accept .fa-xmark {
  color: #4caf50;
}

@media (max-width: 450px) {
  .create__account {
    top: 35%;
  }
  .account_User form {
    gap: 8px;
  }
  .account_User {
    width: 260px;
    height: 230px;
    padding: 20px;
  }
  .functional-app .movments {
    border-bottom: 1px solid #f3f3f3;
  }
  .submit {
    padding: 11px 0px;
    font-size: 11px;
  }
  .input-login {
    font-size: 12px;
  }

  .ss,
  .input-login {
    height: 28px;
    font-size: 10px;
    width: 90px;
    padding: 3px 20px;
  }
  .input-login {
    font-size: 12px;
  }
  .ss {
    font-size: 11px;
  }

  .fa-lock,
  .fa-user,
  .fa-caret-down {
    font-size: 8px;
  }

  .account_User img {
    width: 50px;
  }

  .account_User p {
    margin: 5px 0px;
    font-size: 11px;
    color: var(--main-black);
    font-weight: 500;
  }

  .collect_label div:not(:first-child) {
    margin-left: 10px;
  }
  .collect_label div h3 {
    font-size: 15px;
  }
  .collect_label div p {
    font-size: 8px;
  }
  .btn--sort {
    font-size: 12px;
  }
  .time {
    font-size: 10px;
  }

  header {
    height: 95px;
  }
  .user-transfer {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .fa-arrow-right {
    font-size: 14px;
    margin-top: 3px;
  }
  .fa-arrow-right-long {
    font-size: 13px;
  }

  .logo {
    width: 35px;
  }
  .input-login::placeholder,
  .ss::placeholder {
    font-size: 11px;
  }

  .login-text {
    font-size: 15px;
    margin-right: -5px;
  }

  .balance p {
    font-size: 8px;
  }
  .balance h2 {
    font-size: 14px;
    font-weight: 500;
  }
  .moeny-balance {
    font-size: 25px;
  }
  .input-login.input-login-password {
    margin: 0 10px 0px 5px;
  }
  .dateof-movment {
    font-size: 7px;

    color: var(--main-black);
    margin-left: 5px;
  }

  .transfer h2 {
    font-size: 15px;
  }

  .labol {
    font-size: 9px;
  }
  .inp {
    font-size: 12px;
  }
  .text_money {
    font-size: 10px;
  }
  .movments-WITHDRAWAL,
  .movments-DEPOSIT {
    padding: 2px 7px;

    font-size: 7px;
    letter-spacing: 1.2px;
  }
  .functional-app .movments {
    padding: 16px 20px;
  }
  .transfer {
    padding: 22.5px 30px;
  }
  .masege_USER {
    top: 9.6px;
    min-width: 201.6px;
    padding: 9.6px 19.2px;
    border-radius: 2.4px;
  }

  .fa-circle-exclamation {
    left: 9.6px;
    font-size: 14.4px;
  }

  .masege_USER p {
    padding: 0 9.6px;
    font-size: 8.64px;
    line-height: 1.6;
  }

  .cente_x {
    padding: 8px 8.64px;
  }

  .fa-xmark {
    font-size: 10.56px;
  }
  .masege_USER.erorr {

  border-left: 5.2px solid #ffa502;
}
.masege_USER.accept {

  border-left: 5.2px solid #4caf50;
}
}
@keyframes moving {
  0% {
    opacity: 0;
    z-index: -1;
    transform: translate(0%);
  }
  100% {
    opacity: 1;
    transform: translate(-10%);
  }
}

@keyframes hide_moving {
  0% {
    opacity: 1;
    transform: translate(-10%);
  }
  100% {
    opacity: 0;
    z-index: -1;
    transform: translate(0%);
  }
}


.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 163px;
}
